<html>
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
	<link href="typo3/sysext/install/Resources/Public/Stylesheets/Action/Step/General.css" rel="stylesheet" />
	<link href="typo3/sysext/install/Resources/Public/Stylesheets/general.css" rel="stylesheet" />
	<style>
		body {
			margin: 30px;
			font-size: 100.1%;
			background-color: #333;
		}
		
		.typo3-message {
		}
		
		.message-header {
			font-weight: bold;
			margin: 0 0 5px 0;
		}
		
	</style>
</head>
<body>
	<f:flashMessages renderMode="div" />
</body>
</html>